{% extends "base.html" %}

{% block app_content %}
<div class="blueprint-info">
    <h3>Blueprint Info</h3>
    <ul class="page-properties">
      <li><span class="attribute-title">Blueprint:</span> <span class="attribute-value">{{ request.blueprint }}</span></li>
      <li><span class="attribute-title">Template:</span> <span class="attribute-value">{{ self._TemplateReference__context.name }}</span></li>
      <li><span class="attribute-title">View:</span> <span class="attribute-value">{{ request.endpoint }}</span></li>
      <li><span class="attribute-title">Route:</span> <span class="attribute-value">{{ request.path }}</span></li>
    </ul>
  </div>

 <table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">blueprint</th>
            <th scope="col">description</th>
            <th scope="col">link</th>
        </tr>
    </thead>
    <tbody>
    {% for route in route_info %}
        <tr>
            <th scope="row">{{ route.id }}</th>
            <th scope="row">{{ route.blueprint }}</th>
            <th scope="row">{{ route.description }}</th>
            <th scope="row"><a href={{ url_for(route.link) }}>go</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
